   button{
    background-color: #0dc6d3; /* cor de fundo */
    border: none; /* sem borda */
    color: white; /* cor do texto */
    padding: 10px 20px; /* espaço interno */
    text-align: center; /* alinhamento horizontal */
    text-decoration: none; /* sem sublinhado */
    display: inline-block; /* exibição em bloco */
    font-size: 16px; /* tamanho da fonte */
    margin: 4px 2px; /* margem externa */
    cursor: pointer; /* cursor ao passar o mouse */
    border-radius: 30px; /* bordas arredondadas */
    box-shadow: 0px 5px 0px #3e8e41; /* sombra */
  }
  
  button:hover {
    background-color: #8e3e7d; /* cor de fundo ao passar o mouse */
  }
  
  button:active {
    background-color: #000000; /* cor de fundo quando pressionado */
    box-shadow: 0px 3px 0px #2e673a; /* sombra quando pressionado */
    transform: translateY(2px); /* movimento quando pressionado */
  }